<div class="container mb-4">
    <div class="flex align-items-center">
        <app-btn-regresar routerLink="../"></app-btn-regresar>
        <app-separador class="flex-grow-1" texto="Alta de choferes"></app-separador>
    </div>
    <form [formGroup]="editForm">
        <p-card>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="subtitulo">
                        Datos generales
                    </h3>
                </div>
            </div>
            <div class="row flex align-items-end mb-4">
                <div class="col-md-3">
                    <label class="control-label" for="ecco">ID consecutivo:</label>
                    <input class="form-control" id="ecco" placeholder="" type="text" disabled>
                </div>
                <div class="col-md-3">
                    <label class="control-label" for="matricula">Matrícula<span class="req">*</span>:</label>
                    <input class="form-control" id="matricula" placeholder="Ingresar" type="text"
                        formControlName="matriculaChofer" maxlength="12" numbersOnly (keyup)="validarMatricula()">
                </div>
            </div>

            <div class="row flex align-items-end mb-4">
                <div class="col-md-6">
                    <label class="control-label" for="nombre">Nombre:</label>
                    <input class="form-control" id="nombre" placeholder="xxxxxxxxxxx" type="text"
                        formControlName="nombreChofer">
                </div>
                <div class="col-md-6">
                    <label class="control-label" for="ooad">OOAD:</label>
                    <input class="form-control" id="ooad" placeholder="Ingresar" type="text"
                        formControlName="unidadOoad">
                </div>
            </div>

            <div class="row flex align-items-end mb-4">
                <div class="col-md-6">
                    <label class="control-label" for="adscripcion">Adscripción:</label>
                    <input class="form-control" id="adscripcion" placeholder="xxxxxxxxxxx" type="text"
                        formControlName="unidadAdscripcion" (change)="cambioAdscripcion()">
                </div>
                <div class="col-md-3" *ngIf="f.unidadAdscripcion.value === 'CONTRATACIÓN 08'">
                    <label class="control-label" for="inicioContrato">Inicio de contrato<span
                            class="req">*</span>:</label>
                    <p-calendar id="inicioContrato" styleClass="form-control" [showIcon]="true"
                        placeholder="dd/mmm/aaaa" formControlName="fecInicioContrato">
                    </p-calendar>
                </div>
                <div class="col-md-3" *ngIf="f.unidadAdscripcion.value === 'CONTRATACIÓN 08'">
                    <label class="control-label" for="finContrato">Fin de contrato<span class="req">*</span>:</label>
                    <p-calendar id="finContrato" styleClass="form-control" [showIcon]="true" placeholder="dd/mmm/aaaa"
                        formControlName="fecFinContrato">
                    </p-calendar>
                </div>
            </div>


            <div class="row flex align-items-end mb-4">
                <div class="col-md-4">
                    <label class="control-label" for="categoria">Categoría:</label>
                    <input class="form-control" id="categoria" placeholder="Ingresar" type="text"
                        formControlName="categoria">
                </div>
                <div class="col-md-4">
                    <label class="control-label" for="estatusChofer">Estatus del chofer<span
                            class="req">*</span>:</label>
                    <p-dropdown id="estatusChofer" class="form-control" [options]="catEstatus" placeholder="Seleccionar"
                        formControlName="estatusChofer" (onChange)="cambioEstatus();">
                    </p-dropdown>
                </div>
                <div class="col-md-4">
                    <label class="control-label" for="motivo">Motivo
                        <span class="req" *ngIf="desMotivoHasValidator">*</span>:
                    </label>
                    <p-dropdown id="motivo" class="form-control" formControlName="motivo" [options]="catMotivo"
                        placeholder="Seleccionar" formControlName="motivo" (onChange)="cambioMotivo();">
                    </p-dropdown>
                </div>
            </div>

            <div class="row flex align-items-end mb-4" *ngIf="f.motivo.value === 9">
                <div class="col-md-3">
                    <label class="control-label" for="inicioIncapacidad">Inicio de incapacidad<span
                            class="req">*</span>:</label>
                    <p-calendar id="inicioIncapacidad" styleClass="form-control" [showIcon]="true"
                        placeholder="dd/mmm/aaaa" formControlName="fecIniIncapacidad">
                    </p-calendar>
                </div>
                <div class="col-md-3">
                    <label class="control-label" for="finIncapacidad">Fin de incapacidad<span
                            class="req">*</span>:</label>
                    <p-calendar id="finIncapacidad" styleClass="form-control" [showIcon]="true"
                        placeholder="dd/mmm/aaaa" formControlName="fecFinIncapacidad">
                    </p-calendar>
                </div>
            </div>

            <hr class="separador-small">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="subtitulo">
                        Licencia
                    </h3>
                </div>
            </div>

            <div class="row flex align-items-end mb-4">
                <div class="col-md-3">
                    <label class="control-label" for="numeroLicencia">Número de licencia<span
                            class="req">*</span>:</label>
                    <input class="form-control" id="numeroLicencia" placeholder="Ingresar" type="text"
                        formControlName="licencia" maxlength="10" numbersOnly>
                </div>
                <div class="col-md-3">
                    <label class="control-label" for="tipoLicencia">Tipo de licencia<span class="req">*</span>:</label>
                    <input class="form-control" id="tipoLicencia" placeholder="Ingresar" type="text"
                        formControlName="tipoLicencia" maxlength="15">
                </div>
                <div class="col-md-3">
                    <label class="control-label" for="vigLicencia">Vigencia de la licencia<span
                            class="req">*</span>:</label>
                    <p-calendar id="vigLicencia" styleClass="form-control" [showIcon]="true" placeholder="dd/mmm/aaaa"
                        formControlName="fecVigencia">
                    </p-calendar>
                </div>
                <div class="col-md-3">
                    <label class="control-label" for="expLicencia">Expedición de licencia<span
                            class="req">*</span>:</label>
                    <p-calendar id="expLicencia" styleClass="form-control" [showIcon]="true" placeholder="dd/mmm/aaaa"
                        formControlName="fecExpedicion">
                    </p-calendar>
                </div>
            </div>

            <div class="row flex mb-4">
                <div class="col-md-6">
                    <label class="control-label">Licencia<span class="req">*</span>:</label>
                    <app-cargador-archivo [class.ng-invalid]="!archivo" accept="application/pdf"
                        [extensionesAceptadas]="['pdf']" [(archivo)]="archivo">
                    </app-cargador-archivo>
                </div>
            </div>
        </p-card>

        <div class="flex justify-content-between mt-4">
            <span class="campos-obligatorios">*Campos obligatorios</span>
            <div>
                <button type="button" class="btn btn-gold btn-lg" routerLink="../">Cancelar</button>
                <button type="submit" class="btn btn-primary btn-lg ml-4" (click)="guardar()">Guardar</button>
            </div>
        </div>
    </form>
</div>