<div class="container mb-4">
  <div class="flex align-items-center">
    <app-btn-regresar routerLink="../"></app-btn-regresar>
    <app-separador class="flex-grow-1" texto="Alta de usuario SIT"></app-separador>
  </div>

  <p-card>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-12">
          <h3 class="subtitulo">Datos personales</h3>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-6">
          <label class="control-label" for="matricula"
            >Matrícula<span class="req">*</span>:</label
          >
          <input
            class="form-control"
            id="matricula"
            formControlName="matricula"
            placeholder="Ingresar"
            type="text"
            [ngClass]="{
              inputError: validarCampos && form.get('matricula')!.hasError('required')
            }"
          />
        </div>
        <div class="col-md-6">
          <label class="control-label" for="nombre"
            >Nombre<span class="req">*</span>:</label
          >
          <input
            class="form-control"
            formControlName="nombreUsuario"
            id="nombre"
            placeholder="Ingresar"
            type="text"
            [ngClass]="{
              inputError: validarCampos && form.get('nombreUsuario')!.hasError('required')
            }"
          />
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-6">
          <label class="control-label" for="app"
            >Apellido paterno<span class="req">*</span>:</label
          >
          <input
            class="form-control"
            id="app"
            formControlName="apellidoPaterno"
            placeholder="Ingresar"
            type="text"
            [ngClass]="{
              inputError: validarCampos && form.get('apellidoPaterno')!.hasError('required')
            }"
          />
        </div>
        <div class="col-md-6">
          <label class="control-label" for="apm"
            >Apellido materno<span class="req">*</span>:</label
          >
          <input
            class="form-control"
            id="apm"
            formControlName="apellidoMaterno"
            placeholder="Ingresar"
            type="text"
            [ngClass]="{
              inputError: validarCampos && form.get('apellidoMaterno')!.hasError('required')
            }"
          />
        </div>
      </div>
      <hr class="separador-small" />
      <div class="row">
        <div class="col-md-12">
          <h3 class="subtitulo">Datos administrativos</h3>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md-6">
          <label class="control-label" for="ooad"
            >OOAD o Delegación<span class="req">*</span>:</label
          >
          <!-- <input class="form-control" id="ooad" placeholder="Ingresar" type="text"> -->
          <p-dropdown
            id="ooad"
            class="form-control"
            optionLabel="nombreOoad"
            formControlName="ooad"
            optionValue="idOoad"
            (onChange)="onChangeOoad()"
            [options]="ooads"
            placeholder="Seleccionar"
            [ngClass]="{
              inputError: validarCampos && form.get('ooad')!.hasError('required')
            }"
          ></p-dropdown>
        </div>
        <div class="col-md-6">
          <label class="control-label" for="unidadAdscripcion"
            >Unidad de adscripción<span class="req">*</span>:</label
          >
          <p-dropdown
            id="unidadAdscripcion"
            class="form-control"
            [options]="unidades"
            formControlName="unidad"
            optionLabel="nombreUnidad"
            optionValue="idUnidad"
            placeholder="Seleccionar"
            [ngClass]="{
              inputError: validarCampos && form.get('unidad')!.hasError('required')
            }"
          ></p-dropdown>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-3">
          <label class="control-label" for="rol"
            >Rol<span class="req">*</span>:</label
          >
          <p-dropdown
            id="rol"
            class="form-control"
            optionLabel="descripcion"
            optionValue="idRol"
            [options]="roles"
            formControlName="idRol"
            placeholder="Seleccionar"
            [ngClass]="{
              inputError: validarCampos && form.get('idRol')!.hasError('required')
            }"
          ></p-dropdown>
        </div>
        <div class="col-md-3">
          <label class="control-label" for="estatus"
            >Estatus<span class="req">*</span>:</label
          >
          <p-dropdown
            id="estatus"
            class="form-control"
            [options]="estatus"
            optionLabel="label"
            optionValue="label"
            formControlName="estatusUsuario"
            placeholder="Seleccionar"
            [ngClass]="{
              inputError: validarCampos && form.get('estatusUsuario')!.hasError('required')
            }"
          >
          </p-dropdown>
          <span class="campos-obligatorios" *ngIf="f.estatusUsuario?.errors?.required && (f.estatusUsuario?.dirty || f.estatusUsuario?.touched)">*Campo obligatorio</span>
        </div>
        <div class="col-md-3">
          <label class="control-label" for="motivo"
            >Motivo<span class="req">*</span>:</label
          >
          <p-dropdown
            id="motivo"
            class="form-control"
            [options]="motivos"
            formControlName="motivo"
            optionLabel="label"
            optionValue="label"
            placeholder="Seleccionar"
            [ngClass]="{
              inputError: validarCampos && form.get('motivo')!.hasError('required')
            }"
          ></p-dropdown>
        </div>
        <div class="col-md-3">
          <label class="control-label" for="password"
            >Password<span class="req">*</span>:</label
          >
          <input
            class="form-control"
            id="password"
            formControlName="password"
            placeholder="Ingresar"
            [ngClass]="{
              inputError: validarCampos && form.get('password')!.hasError('required')
            }"
            type="password"
          />
        </div>
      </div>
      <div class="flex justify-content-between mt-4">
        <span class="campos-obligatorios">*Campos obligatorios</span>
        <div>
          <button class="btn btn-gold btn-lg" routerLink="../">Cancelar</button>
          <button class="btn btn-primary btn-lg ml-4" [disabled]="validarCampos && form.invalid" (click)="guardar()">Guardar</button>
        </div>
      </div>
    </form>
  </p-card>
</div>
