<div class="container mb-4">
    <div class="flex align-items-center">
        <app-btn-regresar routerLink="../.."></app-btn-regresar>
        <app-separador class="flex-grow-1" texto="Detalle de vehículo arrendado"></app-separador>
    </div>
    <p-card>
        <div class="row">
            <div class="col-md-12">
                <h3 class="subtitulo">
                    Datos generales
                </h3>
            </div>
        </div>
        <div class="row flex align-items-end mb-4">
            <div class="col-md-3">
                <label class="control-label" for="ecco">ECCO<span class="req">*</span>:</label>
                <input class="form-control" id="ecco" placeholder="Ingresar" type="text" disabled >
            </div>
            <div class="col-md-3">
                <label class="control-label" for="noTarjeton">No de tarjetón<span class="req">*</span>:</label>
                <input class="form-control" id="noTarjeton" placeholder="Ingresar" type="text" disabled >
            </div>
            <div class="col-md-3">
                <label class="control-label" for="tipoVehiculo">Tipo de vehículo<span class="req">*</span>:</label>
                <p-dropdown id="tipoVehiculo" class="form-control" [options]="ooad" placeholder="Seleccionar" [disabled]="true">
                </p-dropdown>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="modelo">Modelo<span class="req">*</span>:</label>
                <input class="form-control" id="modelo" placeholder="Ingresar" type="text" disabled>
            </div>
        </div>

        <div class="row flex align-items-end mb-4">
            <div class="col-md-3">
                <label class="control-label" for="clasifVehiculo">Clasificación del vehículo CONUEE<span
                        class="req">*</span>:</label>
                <p-dropdown id="clasifVehiculo" class="form-control" [options]="ooad" placeholder="Seleccionar" [disabled]="true">
                </p-dropdown>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="tipoServicio">Tipo de servicio<span class="req">*</span>:</label>
                <p-dropdown id="tipoServicio" class="form-control" [options]="ooad" placeholder="Seleccionar" [disabled]="true">
                </p-dropdown>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="submarca">Submarca<span class="req">*</span>:</label>
                <input class="form-control" id="submarca" placeholder="Ingresar" type="text" disabled>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="cilindros">Cilindros<span class="req">*</span>:</label>
                <p-dropdown id="cilindros" class="form-control" [options]="ooad" placeholder="Seleccionar" [disabled]="true">
                </p-dropdown>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3 class="subtitulo">
                    Rendimiento y capacidad
                </h3>
            </div>
        </div>

        <div class="row flex align-items-end mb-4">
            <div class="col-md-3">
                <label class="control-label" for="combustible">Combustible<span class="req">*</span>:</label>
                <p-dropdown id="combustible" class="form-control" [options]="ooad" placeholder="Seleccionar" [disabled]="true">
                </p-dropdown>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="cantidadCombustible">Cantidad de combustible por litro<span
                        class="req">*</span>:</label>
                <p-dropdown id="cantidadCombustible" class="form-control" [options]="ooad" placeholder="Seleccionar" [disabled]="true">
                </p-dropdown>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="capPersonas">Cap. de personas<span class="req">*</span>:</label>
                <input class="form-control" id="capPersonas" placeholder="Ingresar" type="text" disabled>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="capToneladas">Cap. en toneladas<span class="req">*</span>:</label>
                <p-dropdown id="capToneladas" class="form-control" [options]="ooad" placeholder="Seleccionar" [disabled]="true">
                </p-dropdown>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3 class="subtitulo">
                    Reglamentación
                </h3>
            </div>
        </div>

        <div class="row flex align-items-end mb-4">
            <div class="col-md-3">
                <label class="control-label" for="placas">Placas<span class="req">*</span>:</label>
                <input class="form-control" id="placas" placeholder="Ingresar" type="text" disabled>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="licCofepris">Licencia COFEPRIS<span class="req">*</span>:</label>
                <input class="form-control" id="licCofepris" placeholder="Ingresar" type="text" disabled>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="vencLicCofepris">Vencimiento licencia COFEPRIS<span
                        class="req">*</span>:</label>
                <p-calendar id="vencLicCofepris" styleClass="form-control" [showIcon]="true" placeholder="dd/mmm/aaaa" [disabled]="true">
                </p-calendar>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="tipoRegimen">Tipo de regimen<span class="req">*</span>:</label>
                <p-dropdown id="tipoRegimen" class="form-control" [options]="ooad" placeholder="Seleccionar" [disabled]="true">
                </p-dropdown>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h3 class="subtitulo">
                    Datos de unidad
                </h3>
            </div>
        </div>

        <div class="row flex align-items-end mb-4">
            <div class="col-md-6">
                <label class="control-label" for="unidad">Unidad<span class="req">*</span>:</label>
                <p-dropdown id="unidad" class="form-control" [options]="ooad" placeholder="Seleccionar" [disabled]="true">
                </p-dropdown>
            </div>
            <div class="col-md-2">
                <label class="control-label" for="cp">CP:</label>
                <input class="form-control" id="cp" placeholder="XXXXXXXX" type="text" disabled >
            </div>
        </div>

        <div class="row flex align-items-end mb-4">
            <div class="col-md-4">
                <label class="control-label" for="entidad">Entidad<span class="req">*</span>:</label>
                <input class="form-control" id="entidad" placeholder="xxxxxxxxxx" type="text" disabled >
            </div>
            <div class="col-md-4">
                <label class="control-label" for="municipio">Municipio<span class="req">*</span>:</label>
                <input class="form-control" id="municipio" placeholder="xxxxxxxxxx" type="text" disabled >
            </div>
            <div class="col-md-4">
                <label class="control-label" for="colonia">Colonia<span class="req">*</span>:</label>
                <input class="form-control" id="colonia" placeholder="xxxxxxxxxx" type="text" disabled >
            </div>
        </div>

        <hr class="separador-small">
        <div class="row">
            <div class="col-md-12">
                <h3 class="subtitulo">
                    Datos de arrendatario
                </h3>
            </div>
        </div>

        <div class="row flex align-items-end mb-4">
            <div class="col-md-12">
                <label class="control-label" for="nombreArrendadora">Nombre de la arrendadora<span
                        class="req">*</span>:</label>
                <input class="form-control" id="nombreArrendadora" placeholder="Ingresar" type="text" disabled>
            </div>
        </div>


        <div class="row flex align-items-end mb-4">
            <div class="col-md-4">
                <label class="control-label" for="noContrato">No de contrato<span class="req">*</span>:</label>
                <p-dropdown id="noContrato" class="form-control" [options]="ooad" placeholder="Seleccionar" [disabled]="true">
                </p-dropdown>
            </div>
            <div class="col-md-4">
                <label class="control-label" for="fechaInicioContrato">Fecha inicio del contrato<span
                        class="req">*</span>:</label>
                <p-calendar id="fechaInicioContrato" styleClass="form-control" [showIcon]="true"
                    placeholder="dd/mmm/aaaa" [disabled]="true">
                </p-calendar>
            </div>
            <div class="col-md-4">
                <label class="control-label" for="fechaFinContrato">Fecha fin del contrato<span
                        class="req">*</span>:</label>
                <p-calendar id="fechaFinContrato" styleClass="form-control" [showIcon]="true" placeholder="dd/mmm/aaaa" [disabled]="true">
                </p-calendar>
            </div>
        </div>

        <div class="row flex align-items-end mb-4">
            <div class="col-md-4">
                <label class="control-label" for="costoDiario">Costo diario<span class="req">*</span>:</label>
                <input class="form-control" id="costoDiario" placeholder="Ingresar" type="text" disabled >
            </div>
            <div class="col-md-4">
                <label class="control-label" for="costoMensual">Costo mensual<span class="req">*</span>:</label>
                <input class="form-control" id="costoMensual" placeholder="Ingresar" type="text" disabled >
            </div>
            <div class="col-md-4">
                <label class="control-label" for="estatus">Estatus<span class="req">*</span>:</label>
                <p-dropdown id="estatus" class="form-control" [options]="ooad" placeholder="Seleccionar" [disabled]="true">
                </p-dropdown>
            </div>
        </div>

        <div class="row flex align-items-end mb-4">
            <div class="col-md-4">
                <label class="control-label" for="aseguradora">Aseguradora<span class="req">*</span>:</label>
                <input class="form-control" id="aseguradora" placeholder="Ingresar" type="text" disabled >
            </div>
            <div class="col-md-4">
                <label class="control-label" for="poliza">Póliza<span class="req">*</span>:</label>
                <input class="form-control" id="poliza" placeholder="Ingresar" type="text" disabled >
            </div>
            <div class="col-md-4">
                <label class="control-label" for="auxiliarContable">Auxiliar contable<span class="req">*</span>:</label>
                <input class="form-control" id="auxiliarContable" placeholder="Ingresar" type="text" disabled >
            </div>
        </div>

        <div class="row flex align-items-end mb-4">
            <div class="col-md-4">
                <label class="control-label" for="esUnidadPernocta">Vehículo sustituto<span
                        class="req">*</span>:</label>
                <div class="form-radio">
                    <label>
                        <input type="radio" name="radio-01" value="opcion-02" checked="checked" disabled> Sí
                    </label>
                    <label>
                        <input type="radio" name="radio-01" value="opcion-03" checked="checked" disabled> No
                    </label>
                </div>
            </div>
        </div>

    </p-card>
    <div class="flex justify-content-between mt-4">
        <span class="campos-obligatorios">*Campos obligatorios</span>
        <div>
            <button class="btn btn-gold btn-lg" routerLink="../..">Cancelar</button>
            <button class="btn btn-primary btn-lg ml-4">Guardar</button>
        </div>
    </div>

</div>