<div class="inicio-sesion">
    <form [formGroup]="form" (ngSubmit)="iniciarSesion()">
        <p-card>
            <h1>Iniciar Sesion</h1>
            <div class="form-group">
                <label class="control-label" for="matricula">Matrícula<span class="req">*</span>:</label>
                <input class="form-control" id="matricula" formControlName="usuario" placeholder="Ingresar matrícula" type="text" numbersOnly>
            </div>
            <div class="form-group mb-0">
                <label class="control-label" for="password">Contraseña<span class="req">*</span>:</label>
                <div class="form-icon">
                    <input #input class="form-control" id="password" formControlName="password"
                        placeholder="Ingresar contraseña" type="password">
                    <i class="cursor-pointer icon pi pi-eye"
                        (click)="input.type = input.type==='password'?'text':'password'"></i>
                </div>
            </div>
            <div class="mt-2">
                <span class="req">* Campos obligatorios:</span>
            </div>
            <div class="flex justify-content-between align-items-center mt-8">
                <a class="no-underline" routerLink="recuperar-contrasena">¿Olvidaste tu contraseña?</a>
                <button type="button" class="btn btn-primary" (click)="iniciarSesion()"
                    [disabled]="!form.valid">Ingresar</button>
            </div>
        </p-card>
    </form>
</div>