<div class="container mb-4">
    <div class="flex align-items-center">
        <app-btn-regresar routerLink="../"></app-btn-regresar>
        <app-separador class="flex-grow-1" texto="Alta de vehículo propio"></app-separador>
    </div>
    <p-card>
        <div class="row">
            <div class="col-md-12">
                <h3 class="subtitulo">
                    Datos administrativos particulares
                </h3>
            </div>
        </div>
        <div class="row flex align-items-end mb-4">
            <div class="col-md-3">
                <label class="control-label" for="ecco">ECCO<span class="req">*</span>:</label>
                <input class="form-control" id="ecco" placeholder="Ingresar" type="text">
            </div>
            <div class="col-md-3">
                <label class="control-label" for="noInventario">No de inventario<span class="req">*</span>:</label>
                <input class="form-control" id="noInventario" placeholder="Ingresar" type="text">
            </div>
            <div class="col-md-3">
                <label class="control-label" for="noSerie">No de serie<span class="req">*</span>:</label>
                <input class="form-control" id="noSerie" placeholder="Ingresar" type="text">
            </div>
            <div class="col-md-3">
                <label class="control-label" for="noTarjeton">No de tarjetón<span class="req">*</span>:</label>
                <input class="form-control" id="noTarjeton" placeholder="Ingresar" type="text">
            </div>
        </div>

        <div class="row flex align-items-end mb-4">
            <div class="col-md-3">
                <label class="control-label" for="tipoVehiculo">Tipo de vehículo<span class="req">*</span>:</label>
                <p-dropdown id="tipoVehiculo" class="form-control" [options]="ooad" placeholder="Seleccionar">
                </p-dropdown>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="clasifVehiculo">Clasificación del vehículo CONUEE<span
                        class="req">*</span>:</label>
                <p-dropdown id="clasifVehiculo" class="form-control" [options]="ooad" placeholder="Seleccionar">
                </p-dropdown>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="tipoServicio">Tipo de servicio<span class="req">*</span>:</label>
                <p-dropdown id="tipoServicio" class="form-control" [options]="ooad" placeholder="Seleccionar">
                </p-dropdown>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="version">Versión<span class="req">*</span>:</label>
                <p-dropdown id="version" class="form-control" [options]="ooad" placeholder="Seleccionar">
                </p-dropdown>
            </div>
        </div>

        <hr class="separador-small">
        <div class="row">
            <div class="col-md-12">
                <h3 class="subtitulo">
                    Datos generales
                </h3>
            </div>
        </div>

        <div class="row flex align-items-end mb-4">
            <div class="col-md-3">
                <label class="control-label" for="marca">Marca<span class="req">*</span>:</label>
                <input class="form-control" id="marca" placeholder="Ingresar" type="text">
            </div>
            <div class="col-md-3">
                <label class="control-label" for="clase">Clase<span class="req">*</span>:</label>
                <input class="form-control" id="clase" placeholder="Ingresar" type="text">
            </div>
            <div class="col-md-3">
                <label class="control-label" for="submarca">Submarca<span class="req">*</span>:</label>
                <input class="form-control" id="submarca" placeholder="Ingresar" type="text">
            </div>
            <div class="col-md-3">
                <label class="control-label" for="modelo">Modelo<span class="req">*</span>:</label>
                <input class="form-control" id="modelo" placeholder="Ingresar" type="text">
            </div>
        </div>

        <hr class="separador-small">
        <div class="row">
            <div class="col-md-12">
                <h3 class="subtitulo">
                    Rendimiento y capacidad
                </h3>
            </div>
        </div>

        <div class="row flex align-items-end mb-4">
            <div class="col-md-3">
                <label class="control-label" for="combustible">Combustible<span class="req">*</span>:</label>
                <p-dropdown id="combustible" class="form-control" [options]="ooad" placeholder="Seleccionar">
                </p-dropdown>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="cantCombus">Cantidad de combustible por litro<span
                        class="req">*</span>:</label>
                <p-dropdown id="cantCombus" class="form-control" [options]="ooad" placeholder="Seleccionar">
                </p-dropdown>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="capPersonas">Cap. de personas<span class="req">*</span>:</label>
                <input class="form-control" id="capPersonas" placeholder="Ingresar" type="text">
            </div>
            <div class="col-md-3">
                <label class="control-label" for="capToneladas">Cap. en toneladas<span class="req">*</span>:</label>
                <p-dropdown id="capToneladas" class="form-control" [options]="ooad" placeholder="Seleccionar">
                </p-dropdown>
            </div>
        </div>

        <div class="row flex align-items-end mb-4">
            <div class="col-md-3">
                <label class="control-label" for="cilindros">Cilindros<span class="req">*</span>:</label>
                <p-dropdown id="cilindros" class="form-control" [options]="ooad" placeholder="Seleccionar">
                </p-dropdown>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="noMotor">No de motor<span class="req">*</span>:</label>
                <input class="form-control" id="noMotor" placeholder="Ingresar" type="text">
            </div>
            <div class="col-md-3">
                <label class="control-label" for="valorContable">Valor contable<span class="req">*</span>:</label>
                <input class="form-control" id="valorContable" placeholder="Ingresar" type="text">
            </div>
        </div>

        <hr class="separador-small">
        <div class="row">
            <div class="col-md-12">
                <h3 class="subtitulo">
                    Reglamentación
                </h3>
            </div>
        </div>

        <div class="row flex align-items-end mb-4">
            <div class="col-md-3">
                <label class="control-label" for="placas">Placas<span class="req">*</span>:</label>
                <input class="form-control" id="placas" placeholder="Ingresar" type="text">
            </div>
            <div class="col-md-3">
                <label class="control-label" for="licCofepris">Licencia COFEPRIS<span class="req">*</span>:</label>
                <input class="form-control" id="licCofepris" placeholder="Ingresar" type="text">
            </div>
            <div class="col-md-3">
                <label class="control-label" for="venLicCofepris">Vencimiento licencia COFEPRIS<span
                        class="req">*</span>:</label>
                <p-calendar id="venLicCofepris" styleClass="form-control" [showIcon]="true" placeholder="dd/mmm/aaaa">
                </p-calendar>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="tipoRegimen">Tipo de regimen<span class="req">*</span>:</label>
                <p-dropdown id="tipoRegimen" class="form-control" [options]="ooad" placeholder="Seleccionar">
                </p-dropdown>
            </div>
        </div>

        <hr class="separador-small">
        <div class="row">
            <div class="col-md-12">
                <h3 class="subtitulo">
                    Datos de unidad
                </h3>
            </div>
        </div>

        <div class="row flex align-items-end mb-4">
            <div class="col-md-6">
                <label class="control-label" for="unidad">Unidad<span class="req">*</span>:</label>
                <p-dropdown id="unidad" class="form-control" [options]="ooad" placeholder="Seleccionar">
                </p-dropdown>
            </div>
            <div class="col-md-3">
                <label class="control-label" for="licCofepris">Licencia COFEPRIS<span class="req">*</span>:</label>
                <input class="form-control" id="licCofepris" placeholder="Ingresar" type="text">
            </div>
        </div>

        <div class="row flex align-items-end mb-4">
            <div class="col-md-4">
                <label class="control-label" for="entidad">Entidad<span class="req">*</span>:</label>
                <input class="form-control" id="entidad" placeholder="XXXXXXXXX" type="text" disabled>
            </div>
            <div class="col-md-4">
                <label class="control-label" for="municipio">Municipio<span class="req">*</span>:</label>
                <input class="form-control" id="municipio" placeholder="XXXXXXXXX" type="text" disabled>
            </div>
            <div class="col-md-4">
                <label class="control-label" for="colonia">Colonia<span class="req">*</span>:</label>
                <input class="form-control" id="colonia" placeholder="XXXXXXXXX" type="text" disabled>
            </div>
        </div>

        <div class="row flex align-items-end mb-4">
            <div class="col-md-4">
                <label class="control-label" for="respBienes">Responsable de bienes<span class="req">*</span>:</label>
                <input class="form-control" id="respBienes" placeholder="Ingresar" type="text">
            </div>
            <div class="col-md-4">
                <label class="control-label" for="estatus">Estatus<span class="req">*</span>:</label>
                <p-dropdown id="estatus" class="form-control" [options]="ooad" placeholder="Seleccionar">
                </p-dropdown>
            </div>
            <div class="col-md-4">
                <label class="control-label" for="fechaBaja">Fecha de baja<span class="req">*</span>:</label>
                <p-calendar id="fechaBaja" styleClass="form-control" [showIcon]="true" placeholder="dd/mmm/aaaa">
                </p-calendar>
            </div>
        </div>

        <div class="row flex align-items-end mb-4">
            <div class="col-md-12">
                <label class="control-label" for="motivo">Motivo<span class="req">*</span>:</label>
                <input class="form-control" id="motivo" placeholder="Ingresar" type="text">
            </div>
        </div>

        <div class="row flex align-items-end mb-4">
            <div class="col-md-6">
                <label class="control-label" for="fechaEnajenacion">Fecha de enajenación<span
                        class="req">*</span>:</label>
                <input class="form-control" id="fechaEnajenacion" placeholder="Ingresar" type="text">
            </div>
            <div class="col-md-6">
                <label class="control-label" for="aseguradora">Aseguradora<span class="req">*</span>:</label>
                <p-dropdown id="aseguradora" class="form-control" [options]="ooad" placeholder="Seleccionar">
                </p-dropdown>
            </div>
        </div>

        <hr class="separador-small">
        <div class="row">
            <div class="col-md-12">
                <h3 class="subtitulo">
                    Expediente de vehículo
                </h3>
            </div>
        </div>

        <div class="row flex mb-4">
            <div class="col-md-8">
                <label class="control-label" for="tarjetaCirculacion">Tarjeta de circulación<span
                        class="req">*</span>:</label>
                <app-cargador-archivo patronAceptado="application/pdf" [extensionesAceptadas]="['pdf']"
                    [(archivos)]="archivos" (errorEmitter)="validarArchivo($event)">
                </app-cargador-archivo>
            </div>
            <div class="col-md-4">
                <label class="control-label" for="fechaVencimiento">Fecha vencimiento<span class="req">*</span>:</label>
                <p-calendar id="fechaVencimiento" styleClass="form-control" [showIcon]="true" placeholder="dd/mmm/aaaa">
                </p-calendar>
            </div>
        </div>

    </p-card>
    <div class="flex justify-content-between mt-4">
        <span class="campos-obligatorios">*Campos obligatorios</span>
        <div>
            <button class="btn btn-gold btn-lg" routerLink="../">Cancelar</button>
            <button class="btn btn-primary btn-lg ml-4" (click)="guardar()">Guardar</button>
        </div>
    </div>

</div>