<div class="container mb-4">
    <div class="flex align-items-center">
        <app-btn-regresar routerLink="../.."></app-btn-regresar>
        <app-separador class="flex-grow-1" texto="Editar chofer"></app-separador>
    </div>
    <p-card>
        <form [formGroup]="editForm">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="subtitulo">
                        Datos generales
                    </h3>
                </div>
            </div>
            <div class="row flex align-items-end mb-4">
                <div class="col-md-3">
                    <label class="control-label" for="ecco">ID consecutivo:</label>
                    <input class="form-control" id="ecco" placeholder="xxxxxxxxxxx" type="text" disabled>
                </div>
                <div class="col-md-3">
                    <label class="control-label" for="matricula">Matrícula<span class="req">*</span>:</label>
                    <input class="form-control" (keyup)="consultarDatosSIAP()" id="matricula" placeholder="Ingresar" type="text"
                        formControlName="cveMatriculaChofer" maxlength="12" numbersOnly>
                </div>
            </div>

            <div class="row flex align-items-end mb-4">
                <div class="col-md-6">
                    <label class="control-label" for="nombre">Nombre:</label>
                    <input class="form-control" id="nombre" placeholder="xxxxxxxxxxx" type="text"
                        formControlName="nombreChofer">
                </div>
                <div class="col-md-6">
                    <label class="control-label" for="ooad">OOAD:</label>
                    <input class="form-control" id="ooad" placeholder="xxxxxxxxxxx" type="text"
                        formControlName="cveUnidadOOAD">
                </div>
            </div>

            <div class="row flex align-items-end mb-4">
                <div class="col-md-6">
                    <label class="control-label" for="adscripcion">Adscripción:</label>
                    <input class="form-control" id="adscripcion" placeholder="xxxxxxxxxxx" type="text"
                        formControlName="cveUnidadAdscripcion" (change)="cambioAdscripcion()">
                </div>
                <div class="col-md-3" *ngIf="f.cveUnidadAdscripcion.value === 'CONTRATACIÓN 08'">
                    <label class="control-label" for="inicioContrato">Inicio de contrato<span class="req">*</span>:</label>
                    <p-calendar id="inicioContrato" styleClass="form-control" [showIcon]="true" placeholder="dd/mmm/aaaa" formControlName="fecInicioContrato">
                    </p-calendar>
                </div>
                <div class="col-md-3" *ngIf="f.cveUnidadAdscripcion.value === 'CONTRATACIÓN 08'">
                    <label class="control-label" for="finContrato">Fin de contrato<span class="req">*</span>:</label>
                    <p-calendar id="finContrato" styleClass="form-control" [showIcon]="true" placeholder="dd/mmm/aaaa" formControlName="fecFinContrato">
                    </p-calendar>
                </div>
            </div>


            <div class="row flex align-items-end mb-4">
                <div class="col-md-4">
                    <label class="control-label" for="desCategoria">Categoría<span class="req">*</span>:</label>
                    <input class="form-control" id="desCategoria" placeholder="xxxxxxxxxxx" type="text"
                        formControlName="desCategoria">
                </div>
                <div class="col-md-4">
                    <label class="control-label" for="estatusChofer">Estatus del chofer<span class="req">*</span>:</label>
                    <p-dropdown id="estatusChofer" class="form-control" [options]="catEstatus" placeholder="Seleccionar"
                        formControlName="estatusChofer"  (onChange)="cambioEstatus();">
                    </p-dropdown>
                </div>
                <div class="col-md-4">
                    <label class="control-label" for="desMotivo">Motivo
                        <span class="req" *ngIf="desMotivoHasValidator">*</span>:
                    </label>
                    <p-dropdown id="desMotivo" class="form-control" [options]="catMotivo" placeholder="Seleccionar"
                        formControlName="desMotivo" (onChange)="cambioMotivo();">
                    </p-dropdown>
                </div>
            </div>

            <div class="row flex align-items-end mb-4" *ngIf="f.desMotivo.value === 9">
                <div class="col-md-3">
                    <label class="control-label" for="inicioIncapacidad">Inicio de incapacidad<span
                            class="req">*</span>:</label>
                    <p-calendar id="inicioIncapacidad" styleClass="form-control" [showIcon]="true"
                        placeholder="dd/mmm/aaaa" formControlName="fecIniIncapacidad">
                    </p-calendar>
                </div>
                <div class="col-md-3">
                    <label class="control-label" for="finIncapacidad">Fin de incapacidad<span
                            class="req">*</span>:</label>
                    <p-calendar id="finIncapacidad" styleClass="form-control" [showIcon]="true"
                        placeholder="dd/mmm/aaaa" formControlName="fecFinIncapacidad">
                    </p-calendar>
                </div>
            </div>

            <hr class="separador-small">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="subtitulo">
                        Licencia
                    </h3>
                </div>
            </div>

            <div class="row flex align-items-end mb-4">
                <div class="col-md-3">
                    <label class="control-label" for="numeroLicencia">Número de licencia<span class="req">*</span>:</label>
                    <input class="form-control" id="numeroLicencia" placeholder="Ingresar" type="text"
                        formControlName="cveLicencia" maxlength="10" numbersOnly>
                </div>
                <div class="col-md-3">
                    <label class="control-label" for="cveTipoLicencia">Tipo de licencia<span class="req">*</span>:</label>
                    <input class="form-control" id="cveTipoLicencia" placeholder="Ingresar" type="text"
                        formControlName="cveTipoLicencia" maxlength="15">
                </div>
                <div class="col-md-3">
                    <label class="control-label" for="vigLicencia">Vigencia de la licencia<span
                            class="req">*</span>:</label>
                    <p-calendar id="vigLicencia" styleClass="form-control" [showIcon]="true" placeholder="dd/mmm/aaaa" formControlName="fecVigencia">
                    </p-calendar>
                </div>
                <div class="col-md-3">
                    <label class="control-label" for="expLicencia">Expedición de licencia<span class="req">*</span>:</label>
                    <p-calendar id="expLicencia" styleClass="form-control" [showIcon]="true" placeholder="dd/mmm/aaaa" formControlName="fecExpedicion">
                    </p-calendar>
                </div>
            </div>

            <div class="row flex mb-4">
                <div class="col-md-6">
                    <label class="control-label">Licencia<span class="req">*</span>:</label>
                    <app-cargador-archivo accept="application/pdf" [extensionesAceptadas]="['pdf']"
                        [(archivo)]="archivo" (errorEmitter)="validarArchivo($event)" [mostrarBtnDescargar]="true">
                    </app-cargador-archivo>
                </div>
            </div>
        </form>
    </p-card>
    <div class="flex justify-content-between mt-4">
        <span class="campos-obligatorios">*Campos obligatorios</span>
        <div>
            <button class="btn btn-gold btn-lg" routerLink="../..">Cancelar</button>
            <button class="btn btn-primary btn-lg ml-4" (click)="editar()">Guardar</button>
        </div>
    </div>

</div>