<div class="container mb-4">
    <div class="flex align-items-center">
        <app-btn-regresar routerLink="../.."></app-btn-regresar>
        <app-separador class="flex-grow-1" texto="Editar tarjeta electrónica de combustible"></app-separador>
    </div>
    <form [formGroup]="form" (ngSubmit)="editar()">
        <p-card>
            <div class="row mb-4">
                <div class="col-md-2">
                    <label class="control-label" for="id">ID:</label>
                    <input class="form-control" id="id" formControlName="idTarjetaElectronica" placeholder="XXXXXXXXXXX" type="text">
                </div>
                <div class="col-md-5">
                    <label class="control-label" for="numeroConvenio">Número de convenio<span class="req">*</span>:</label>
                    <input class="form-control" formControlName="numeroConvenio" [maxlength]="50" id="numeroConvenio" placeholder="Ingresar" type="text">
                    <span class="campos-obligatorios" *ngIf="f.numeroConvenio?.errors?.required && (f.numeroConvenio?.dirty || f.numeroConvenio?.touched)">*Campo obligatorio</span>
                </div>
                <div class="col-md-5">
                    <label class="control-label" for="nombreEmpresa">Nombre de la empresa<span class="req">*</span>:</label>
                    <input class="form-control" formControlName="nombreEmpresa" id="nombreEmpresa" [maxlength]="50" placeholder="Ingresar" type="text">
                    <span class="campos-obligatorios" *ngIf="f.nombreEmpresa?.errors?.required && (f.nombreEmpresa?.dirty || f.nombreEmpresa?.touched)">*Campo obligatorio</span>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-2">
                    <label class="control-label" for="importeMensual">Importe mensual<span class="req">*</span>:</label>
                    <p-inputNumber [useGrouping]="false" mode="currency" currency="USD" locale="en-US" class="form-control" id="importeMensual" formControlName="importeMensual" [min]="0" [maxlength]="7" placeholder="Ingresar"></p-inputNumber>
                    <span class="campos-obligatorios" *ngIf="f.importeMensual?.errors?.required && (f.importeMensual?.dirty || f.importeMensual?.touched)">*Campo obligatorio</span>
                </div>
                <div class="col-md-3">
                    <label class="control-label block" for="fechaInicioConvenio">Fecha inicio de convenio<span
                            class="req">*</span>:</label>
                    <p-calendar id="fechaInicioConvenio" formControlName="fechaInicioConvenio" styleClass="form-control" [showIcon]="true"
                            placeholder="dd/mm/aaaa" dateFormat="dd/mm/yy"></p-calendar>
                    <span class="campos-obligatorios" *ngIf="f.fechaInicioConvenio?.errors?.required && (f.fechaInicioConvenio?.dirty || f.fechaInicioConvenio?.touched)">*Campo obligatorio</span>
                </div>
                <div class="col-md-3">
                    <label class="control-label" for="fechaFinConvenio">Fecha fin de convenio<span
                            class="req">*</span>:</label>
                    <p-calendar id="fechaFinConvenio" formControlName="fechaFinConvenio" styleClass="form-control" [showIcon]="true" placeholder="dd/mm/aaaa" dateFormat="dd/mm/yy">
                    </p-calendar>
                    <span class="campos-obligatorios" *ngIf="f.fechaFinConvenio?.errors?.required && (f.fechaFinConvenio?.dirty || f.fechaFinConvenio?.touched)">*Campo obligatorio</span>
                </div>
                <div class="col-md-4">
                    <label class="control-label" for="litrosLimite">Litros límite de combustible al mes<span
                            class="req">*</span>:</label>
                    <p-inputNumber [useGrouping]="false" class="form-control" id="litrosLimite" formControlName="litrosLimite" [min]="0" [maxlength]="5" placeholder="Ingresar"></p-inputNumber>
                    <span class="campos-obligatorios" *ngIf="f.litrosLimite?.errors?.required && (f.litrosLimite?.dirty || f.litrosLimite?.touched)">*Campo obligatorio</span>
                </div>
            </div>

            <hr class="separador-small">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="subtitulo">
                        Otorgamiento y administración de tarjetas
                    </h3>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-6">
                    <label class="control-label" for="ooad">OOAD<span class="req">*</span>:</label>
                    <p-dropdown id="ooad" class="form-control" formControlName="ooad" [options]="catOoad" placeholder="Seleccionar">
                    </p-dropdown>
                    <span class="campos-obligatorios" *ngIf="f.ooad?.errors?.required && (f.ooad?.dirty || f.ooad?.touched)">*Campo obligatorio</span>
                </div>
            </div>
            <hr class="separador-small">

            <div class="row">
                <div class="col-md-12">
                    <h3 class="subtitulo">
                        Rango de folios asignados a una OOAD
                    </h3>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-3">
                    <label class="control-label" for="folioInicial">Folio inicial<span class="req">*</span>:</label>
                    <p-inputNumber [useGrouping]="false" class="form-control" id="folioInicial" formControlName="folioInicial" [min]="0" [maxlength]="10" placeholder="Ingresar"></p-inputNumber>
                    <span class="campos-obligatorios" *ngIf="f.folioInicial?.errors?.required && (f.folioInicial?.dirty || f.folioInicial?.touched)">*Campo obligatorio</span>
                </div>
                <div class="col-md-3">
                    <label class="control-label" for="folioFinal">Folio final<span class="req">*</span>:</label>
                    <p-inputNumber [useGrouping]="false" class="form-control" id="folioFinal" formControlName="folioFinal" [min]="0" [maxlength]="10" placeholder="Ingresar"></p-inputNumber>
                    <span class="campos-obligatorios" *ngIf="f.folioFinal?.errors?.required && (f.folioFinal?.dirty || f.folioFinal?.touched)">*Campo obligatorio</span>
                </div>
                <div class="col-md-3">
                    <label class="control-label" for="km">Kilómetros aprox recorridos<span class="req">*</span>:</label>
                    <p-inputNumber [useGrouping]="false" class="form-control" id="km" formControlName="km" [min]="0" [maxlength]="20" placeholder="Ingresar"></p-inputNumber>
                    <span class="campos-obligatorios" *ngIf="f.km?.errors?.required && (f.km?.dirty || f.km?.touched)">*Campo obligatorio</span>
                </div>
                <div class="col-md-3">
                    <label class="control-label" for="estatus">Estatus<span class="req">*</span>:</label>
                    <p-dropdown id="estatus" class="form-control" formControlName="estatus" [options]="catEstatus" placeholder="Seleccionar">
                    </p-dropdown>
                    <span class="campos-obligatorios" *ngIf="f.estatus?.errors?.required && (f.estatus?.dirty || f.estatus?.touched)">*Campo obligatorio</span>
                </div>
            </div>

            <hr class="separador-small">

            <div class="row">
                <div class="col-md-12">
                    <h3 class="subtitulo">
                        Incidente de tarjeta
                    </h3>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-3">
                    <label class="control-label" for="numeroFolio">Número de folio<span class="req">*</span>:</label>
                    <input class="form-control" id="numeroFolio" placeholder="Ingresar" type="text">
                </div>
                <div class="col-md-9">
                    <label class="control-label" for="descFalla">Descripción de falla<span class="req">*</span>:</label>
                    <input class="form-control" id="descFalla" placeholder="Ingresar" type="text">
                </div>
            </div>
        </p-card>
        <div class="flex justify-content-between mt-4">
            <span class="campos-obligatorios">*Campos obligatorios</span>
            <div>
                <button type="button" class="btn btn-gold btn-lg" routerLink="../..">Cancelar</button>
                <button type="submit" class="btn btn-primary btn-lg ml-4">Guardar</button>
            </div>
        </div>
    </form>

</div>